body {
    margin: 0;
    padding: 0;
    background-color: #1d2634;
    color: #9e9ea4;
    font-family: 'Montserrat', sans-serif;
}

.gridContainer {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: "sidebar header header header"
        "sidebar main main main";
    height: 100vh;
}

.icon {
    vertical-align: middle;
    line-height: 1px;
    font-size: 20px;
}

.iconHeader {
    vertical-align: middle;
    line-height: 1px;
    font-size: 26px;
}

.icon,
.iconHeader {
    margin-right: 5px;
}

.header {
    grid-area: header;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menuIcon {
    cursor: pointer;
}

#sidebar {
    grid-area: sidebar;
    height: 100%;
    border-color: #263043;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    display: none;
}

.sidebarTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 0px 30px;
    margin-bottom: 30px;
}

.sidebarTitle>span {
    display: none;
}

.sidebarBrand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.sidebarList {
    padding: 0;
    list-style-type: none;
}

.sidebarList-under {
    padding: 0;
    list-style-type: none;
}

.sidebarListItem {
    padding: 20px 20px 20px 20px;
    font-size: 18px;
}

.sidebarListItem-under {
    padding: 10px 20px 5px 50px;
    font-size: 15px;
}

.sidebarListItem:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.sidebarListItem-under:hover {
    cursor: pointer;
}

.sidebarListItem>a {
    text-decoration: none;
    color: #9e9ea4;
}

.sidebarListItem-under>a {
    text-decoration: none;
    color: #9e9ea4;
}

.sidebarResponsive {
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
}

.mainContainer {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95);
}

.mainTitle {
    display: flex;
    justify-content: space-between;
}

.mainCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 15px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 15px;
    border-radius: 5px;
}

.card:first-child {
    background-color: #2962ff;
}

.card:nth-child(2) {
    background-color: #ff6d00;
}

.card:nth-child(3) {
    background-color: #2e7d32;
}

.card:nth-child(4) {
    background-color: #d50000;
}

.cardInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardInner>.cardIcon {
    font-size: 25px;
}

.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
    height: 300px;
}

@media screen and (max-width: 992px) {
    .gridContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas:
            'header'
            'main';
    }
}

.loginTxt {
    color: white;
  
}

.loginDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.loginInput{
    padding: 10px;
    width: 350px;
    margin-bottom: 40px;
}

.submitBtn{
    padding: 8px;
    width: 150px;
    background-color: #2e7d32;
    border: 0;
    color: black;
    font-weight: 800;
    cursor: pointer;
    
}
 .submitBtn:hover{
    border: 4px solid white;
 }

 .loginTxt{
    font-size: 50px;
 }