 /* global inputs */
 .Global-input {
   width: 20rem;
   font-size: 1rem;
   border-radius: 0.4rem;
   border: none;
   /* margin-left: 2rem; */
   background-color: rgba(0, 0, 0, 0.425);
   color: wheat;
 }

 .Capital-style {
   width: 20rem;
   font-size: 1rem;
   border-radius: 0.4rem;
   border: none;
   /* margin-left: 2rem; */
   background-color: rgba(0, 0, 0, 0.425);
   color: wheat;
   text-transform: uppercase;
 }

 /* global input date type  */

 /* Reset default styles */
 input[type="date"] {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   padding: 8px;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 16px;
   text-transform: uppercase;
   cursor: pointer;
 }


 /* Style the date picker close button (X) */



 /* global select and option  */
 .Global-select {
   border-radius: 0.4rem;
   width: 18rem;
   height: 2.5rem;
   cursor: pointer;
   background-color: rgba(0, 0, 0, 0.425);
   color: white;
 }


 .Global-option {
   width: 18rem;
   font-size: 1rem;
   cursor: pointer;
   background-color: rgba(0, 0, 0, 0.932);

 }

 .Global-option:hover {
   background-color: rgba(0, 0, 0, 0.425);
   ;
 }

 /* global radio  */
 .radio-label {
   display: flex;
   align-items: center;
   font-family: 'Arial', sans-serif;
   cursor: pointer;
   font-size: 16px;
   user-select: none;
   margin-bottom: 15px;
   width: 15rem;
 }

 /* Style the radio inputs */
 .radio-label input {
   opacity: 0;
   position: absolute;
 }

 /* Create a custom radio button appearance (checkmark) */
 .checkmark {
   position: relative;
   height: 20px;
   width: 20px;
   background-color: #ddd;
   border-radius: 50%;
   margin-right: 10px;
 }

 /* Style the checkmark when the radio button is checked */
 .radio-label input:checked+.checkmark {
   background-color: #2196F3;
 }

 /* Hide the default browser appearance for radio buttons */
 .radio-label input:checked+.checkmark:after {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 10px;
   height: 10px;
   background-color: #fff;
   border-radius: 50%;
 }

 /* Global- button  */

 .Global-button {
   padding: 0.5rem 1.5rem;
   font-size: 1rem;
   font-weight: 600;
   background-color: greenyellow;
   border-radius: 0.2rem;
   border: none;
   cursor: pointer;
 }

 .Global-button:hover {
   background-color: rgba(172, 255, 47, 0.445);
 }

 /* Global textarea */
 .Global-textarea {
   width: 28rem;
   font-size: 1.2rem;
   height: 10rem;
   border: none;
   border-radius: 5px;
   background-color: rgba(0, 0, 0, 0.425);
   color: wheat;
   margin: 0;
   text-transform: uppercase;
 }

 /* Global-label */

 .Global-Label {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
 }

 .Global-Label>h4 {
   font-weight: 500;
   font-size: 1.2rem;
   text-transform: uppercase;
   margin: 0;
 }

 /* Submit popup  */
 .SubmitPopup {
   background-color: rgba(0, 0, 0, 0.726);
   position: absolute;
   right: 0;
 }

 .SubmitPopup>h3 {
   font-size: 1.3rem;
   font-weight: 600;
   margin: 0;
   padding: 0.5rem;
 }

 .SubmitPopup>div {
   height: 0.5rem;
   background-color: green;
   padding: 0;
 }


 /* Style the radio inputs */
 .radio-label input {
   opacity: 0;
   position: absolute;
 }

 /* // checkbox style  */
 .checkbox-container {
   display: block;
   position: relative;
   padding-left: 35px;
   margin-bottom: 15px;
   cursor: pointer;
   font-size: 16px;
 }

 /* Hide the default checkbox */
 .checkbox-container input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
 }

 /* Style for the custom checkbox */
 .checkbox {
   position: absolute;
   top: 0;
   left: 0;
   height: 25px;
   width: 25px;
   background-color: #eee;
   border: 1px solid #ccc;
 }

 /* Style for the checkmark when the checkbox is checked */
 .checkbox-container input:checked+.checkbox {
   background-color: #2196F3;
 }

 /* Style for the checkmark inside the checkbox */
 .checkbox:after {
   content: "";
   position: absolute;
   display: none;
 }

 /* Display the checkmark when the checkbox is checked */
 .checkbox-container input:checked+.checkbox:after {
   display: block;
 }

 /* Style for the checkmark icon */
 .checkbox-container .checkbox:after {
   left: 9px;
   top: 5px;
   width: 5px;
   height: 10px;
   border: solid white;
   border-width: 0 3px 3px 0;
   transform: rotate(45deg);
 }


 
 
